<section>
    <div class="well bs-component">
        <div class="row">
            <div >
                <table class="table table-striped table-bordered table-hover"
                       id="TableId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>UserName</th>
                            <th>Chỉnh Sửa</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>