
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Admin/DatatableCss/custom-style.css" rel="stylesheet" />
<link href="~/Content/Admin/bower_components/datatables.net-bs/css/dataTables.custom.css" rel="stylesheet" />
<div class="row">
    <section class="col-md-12 col-md-push-0">
        @Html.Partial("_ViewListUser")
    </section>
</div>

@section scripts{
  <script src="~/Scripts/AdminJsDataTable/User.js"></script>
}
